<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
       <div class="navigation">
           <h2>Navigation</h2>
               
           <div class="left-in-sidebar"><a href="/#/" class="btn btn-info">Home</a></div>
           <div class="left-in-sidebar"><a href="#/login" class="btn btn-success">Login</a></div>
           <div class="left-in-sidebar"><a href="#/register" class="btn btn-success">Register</a></div>
           </div>
</body>
</html>
