<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
       <div class="navigation">
           <h2>Navigation</h2>
           
           <div>
               <ul>
                   <li><a href="/#/" class="btn btn-info">Home</a></li>
                   <li><a href="#/login" class="btn btn-success">Login</a></li> 
                   <li><a href="#/register" class="btn btn-success">Register</a></li> 
               </ul>
           </div>
       </div>
</body>
</html>
