<div class="navigation">
    <ul>
        <li class="left-in-sidebar"><a href="#/" class="btn btn-primary">Home</a></li>
        <li class="left-in-sidebar"><a href="#/user/ads" class="btn btn-primary">My Ads</a></li>
        <li class="left-in-sidebar"><a href="#/user/ads/publish" class="btn btn-primary">Publish new ad</a></li>
        <li class="left-in-sidebar"><a href="#/user/editProfile" class="btn btn-primary">Edit Profile</a></li>
        <li class="left-in-sidebar"><a href="#" class="btn btn-primary">Logout</a></li>
    </ul>
</div>