<div class="navigation">   
        <div class="left-in-sidebar"><a href="#/" class="btn btn-primary">Home</a></div>
        <div class="left-in-sidebar"><a href="#/user/ads" class="btn btn-primary">My Ads</a></div>
        <div class="left-in-sidebar"><a href="#/user/ads/publish" class="btn btn-primary">Publish new ad</a></div>
        <div class="left-in-sidebar"><a href="#/user/editProfile" class="btn btn-primary">Edit Profile</a></div>
        <div class="left-in-sidebar"><button class="btn btn-primary" ng-click="logout(user)">Logout</button></div>
    
</div>