<div class="public-ads-main">
    <img src="images/loading.gif" ng-hide="ready" />
    <div ng-repeat="ad in adsData.ads" class="public-ads" ng-cloak>
        <h2><span class="ads-titles">Title: </span>{{ad.title}}</h2>
        <p class="p-ads"><span class="ads-titles">Text: </span>{{ad.text}}</p>
        <p class="p-ads"><span class="ads-titles">Date: </span>{{ad.date | date: 'd-MMM-yyyy'}}</p>
        <p class="p-ads"><span class="ads-titles">Name: </span>{{ad.ownerName}}</p>
        <p class="p-ads"><span class="ads-titles">Email: </span>{{ad.ownerEmail}}</p>
        <p class="p-ads"><span class="ads-titles">Phone: </span>{{ad.ownerPhone}}</p>
        <img src="{{ad.imageDataUrl}}" width="150px" />
    </div>
    <pagination 
                page="startPage" 
                ng-model="currentPage" 
                total-items="adsData.numItems" 
                ng-change="pageChanged()" 
                items-per-page="pageSize">
    </pagination>
</div>